<style>
	.question { position: relative; }
	.question img {
		opacity: 0.6;
		width: 580px;
    position: absolute;
	}
</style>

<p>Position the second image directly over top the first image (superimposed).</p>

<p>Edit the page source to begin.</p>

<div class='question'>
	<img src="/images/rob1.jpg">
	<img src="/images/rob2.jpg">
</div>

