<p>Modify the jQuery code running on this page such that when the user clicks "Replace Text", the browser prompts the user for some text, which it then uses to change the text inside the div with the "Old text" below the button</p>
<p>Edit the page source to begin.</p>

<div class='question'>

  <!-- YOU MAY MODIFY THE HTML BELOW -->

  <button id="replaceText">Replace Text</button>

  <div class="pink">
    Old text
  </div>

  <!-- STOP MODIFYING HERE. -->
</div>

<script>

$(function() {
  /**** YOU MAY MODIFY THE CODE BELOW ****/

  $('#replaceText').on('click', function(e) {

    var whatever = prompt('Give me some text!!!');
    $('.pink').text(whatever);

  });

  /**** STOP MODIFYING HERE. ****/
});

</script>


